<nav class="navbar navbar-static-top" role="navigation">
  <ul class='nav navbar-nav '>
    
    <li><%=link_to 'Twitterclone', root_path %></li>
  </ul>  
  <ul class='nav navbar-nav pull-right'>
    <% if user_signed_in? %>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete, :class => 'nav-font' %></li>
      <li><%= link_to "Tweet!", new_tweet_path %></li>
      <li><%= link_to "All the tweets", tweets_path %></li>
      <li><%= link_to "Users", users_path %></li>
    <% end %>
  </ul>
</nav>